
body {
  color: #ffffff;
  background: #f7f7f7;
  padding: 0;
  margin: 0;
}

.header-1 {
	list-style: none;
    background-color: 	RGB(220, 53, 69);
    text-align: left;
    padding: none;
    margin: 0px;
    height: auto;
	  color: #FFFFFF;
  
}
.header-1 h1{
font-size: 5em;
margin: 0;
margin-left: 20px;

}
.header-1 p{
  margin: 0;
  text-align: right;
  padding: none;
  font-family: "Lilyupc";
}
.tay {
  margin: 0px;
  height: 150px;
  background-color: RGB(220, 53, 69);
  margin-bottom: auto;
  width: auto;
}
@font-face {
  font-family: "Lilyupc";
  src: url("https://fontsforyou.com/fonts/l/Lilyupc.ttf");
}